<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="theme-color" content="#7b7e6b">

    <title>EMF Toolkit</title>

</head>

<body>

    {% from "macros.html" import vector_inputs %}
    <div class="left">
        <div class="logo">EMF Toolkit</div>
        <form class="buttons" method="POST">
            <button name="button" value="button_one">Main content </button>
            <input type="checkbox" id="toggle-buttons">
            <!-- toggle button -->
            <label for="toggle-buttons">Sketch</label>
            <div class="extra-buttons buttons">
                <button name="button" value="cartesian">Cartesian</button>
                <button name="button" value="cylindrical">Cylindrical</button>
                <button name="button" value="spherical">Spherical</button>
            </div>

            <button name="button" value="button_three">Physics applications</button>
        </form>
        <div class="idk">v0.1-alpha</div>
    </div>

    <div class="wrapper">
        <div class="top">Electromagnetic Fields</div>

        <div class="main">


            {% if button_section == "home" %}
            <h1>Welcome</h1>
            <p>Select a button from the left to begin</p>
            <!-- button 1 -->
            {% elif button_section == "button_one" %}
            <form method="POST" class="input-card">
                <label for="input_type">Select Input Type:</label>
                <select id="input_type" name="input_type" onchange="this.form.submit()">
                    <option value="two vectors with c" {% if input_type=="two vectors with c" %}selected{% endif %}>Two
                        vectors with charges</option>
                    <option value="two vectors without c" {% if input_type=="two vectors without c" %}selected{% endif
                        %}>Two vectors </option>
                    <option value="single vector" {% if input_type=="single vector" %}selected{% endif %}>Single vector
                    </option>
                </select>
            </form>

            {% if input_type == "single vector" %}
            <form method="POST">
                {{ vector_inputs(1, input_to_jinja, False) }}
                <div style="text-align:center;">
                    <button type="submit">Submit</button>
                </div>
            </form>

            {% elif input_type == "two vectors without c" %}
            <form method="POST">
                {{ vector_inputs(1, input_to_jinja[0:3], False) }}
                {{ vector_inputs(2, input_to_jinja[3:6], False) }}
                <div style="text-align:center;">
                    <button type="submit">Submit</button>
                </div>
            </form>

            {% elif input_type == "two vectors with c" %}
            <form method="POST">
                {{ vector_inputs(1, input_to_jinja[0:4], True) }}
                {{ vector_inputs(2, input_to_jinja[4:8], True) }}
                <div style="text-align:center;">
                    <button type="submit">Submit</button>
                </div>
            </form>
            {% endif %}

            {% if output_to_jinja %}
            <div class="output-section">
                <h2>Output</h2>
                <ul>
                    {% for item in output_to_jinja %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}


            {% else %}
            <h2>Unknown Section</h2>
            <p>Please select a valid section from the left.</p>
            {% endif %}
        </div>
        <div class="bottom">Developed by ABD — EMF Suite Calculator---Alpha Version</div>
    </div>

</body>

</html>