<!-- VECTOR INPUTS MACRO -->
{% macro vector_inputs(vector_num, input_data, has_charge) %}
<div class="input-card">
    <!-- VECTOR {{ vector_num }} must be 1 or 2 or '' for identification in the backend -->
    <h2>Vector {{ vector_num }}</h2>
    <div class="vector-input-group">
        <label>x:</label>
        <input type="number" step="any" name="input_x{{ vector_num }}"
            value="{{ input_data[0] if input_data else '' }}">
        <label>y:</label>
        <input type="number" step="any" name="input_y{{ vector_num }}"
            value="{{ input_data[1] if input_data else '' }}">
        <label>z:</label>
        <input type="number" step="any" name="input_z{{ vector_num }}"
            value="{{ input_data[2] if input_data else '' }}">
        {% if has_charge %}
        <label>c:</label>
        <input type="number" step="any" name="input_c{{ vector_num }}"
            value="{{ input_data[3] if input_data else '' }}">
        {% endif %}
    </div>
</div>
{% endmacro %}
<!-- end input macro -->
<!-- parts of sketch input card -->
{% macro part_of_sketch_input() %}
<button type="submit" name="sketch_button" value="submit">Submit</button>
<button type="submit" name="sketch_button" value="reset">Reset</button>
<form method="post">
    <label for="system_type" style="font-size: large; margin-left: auto;">Choose a system:</label>
    <select name="system_type" id="system_type" style="padding: 10px;" onchange="this.form.submit()">
        <option hidden>Systems</option>
        <option value="cartesian">Cartesian</option>
        <option value="cylindrical">Cylindrical</option>
        <option value="spherical">Spherical</option>
    </select>
</form>
{% endmacro %}
<!-- end parts of sketch input card -->

<!-- sketch input card -->
{% macro sketch_input(system) %}
<div class="input-card">
    <h2>Sketch vector:
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='icons/home.png') }}" alt="return to home"
                style="width:30px; height:30px; display:flex; margin-left: auto;">
        </a>
    </h2>
    {% if system == 'cartesian' %}
    <div class="vector-input-group">
        <label for="input_i">x:</label>
        <input type="number" step="any" name="input_i">
        <label for="input_j">y:</label>
        <input type="number" step="any" name="input_j">
        <label for="input_k">z:</label>
        <input type="number" step="any" name="input_k">
        {{ part_of_sketch_input() }}
    </div>
</div>
{% elif system == 'cylindrical' %}
<div class="vector-input-group">
    <label for="input_i">ρ:</label>
    <input type="number" step="any" name="input_i">
    <label for="input_j">φ (degrees):</label>
    <input type="number" step="any" name="input_j">
    <label for="input_k">z:</label>
    <input type="number" step="any" name="input_k">
    {{ part_of_sketch_input() }}

</div>
</div>
{% elif system == 'spherical' %}
<div class="vector-input-group">
    <label for="input_r">r:</label>
    <input type="number" step="any" name="input_r">
    <label for="input_j">θ (degrees):</label>
    <input type="number" step="any" name="input_j">
    <label for="input_k">φ (degrees):</label>
    <input type="number" step="any" name="input_k">
    {{ part_of_sketch_input() }}

</div>
</div>
{% endif %}
{% endmacro %}
<!-- end sketch macro -->